<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.danielhutchinson.lialpatools"
    android:versionCode="2"
    android:versionName="1.1b" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FuelCalcActivity"
            android:label="Fuel"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.danielhutchinson.lialpatools.MainActivity" />
        </activity>
        <activity
            android:name=".WindComponentActivity"
            android:label="Wind Calculator"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.danielhutchinson.lialpatools.MainActivity" />
        </activity>
        <activity
            android:name=".FlightDutyTimeMainActivity"
            android:label="Flight &amp; Duty Time"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android .support.PARENT_ACTIVITY"
                android:value="com.example.danielhutchinson.lialpatools.MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.danielhutchinson.lialpatools.MainActivity" />
        </activity>
        <activity
            android:name=".UserDetailsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.danielhutchinson.lialpatools.MainActivity" />
        </activity>
        <activity
            android:name=".CrewNetActivity"
            android:label="My Life"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.danielhutchinson.lialpatools.MainActivity" />
        </activity>
    </application>

</manifest>
